In [25]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
import pandas as pd
import numpy as np

In [26]:
dfx = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_YTrain.csv')

In [27]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [28]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [29]:
gnb = GaussianNB()

In [30]:
X = dfx.values
Y = dfy.values
Y = Y.reshape((-1, ))
print(X.shape, Y.shape)

(576, 8) (576,)

In [31]:
gnb.fit(X, Y)

GaussianNB()

In [32]:
dfxtest = pd.read_csv('Diabetes_Xtest.csv')

In [33]:
dfxtest.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [34]:
xtest = dfxtest.values

In [35]:
ypred = gnb.predict(xtest)

In [36]:
ypred[:5]

array([1, 0, 0, 0, 0])

In [37]:
df = pd.DataFrame(ypred, columns = ['Outcome'])

In [38]:
df.head()

   Outcome
0        1
1        0
2        0
3        0
4        0

In [39]:
df.to_csv('DiabetesAnswer.csv', index = False)

In [40]:
mnb = MultinomialNB()

In [41]:
mnb.fit(X, Y)

MultinomialNB()

In [42]:
ypred_ = mnb.predict(xtest)

In [43]:
df2 = pd.DataFrame(ypred, columns = ['Outcome'])

In [44]:
df2.to_csv('DiabetesAnswerMNB.csv', index = False)