In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dfx = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_YTrain.csv')

print(dfx.shape)
print(dfy.shape)

(576, 8)
(576, 1)

In [6]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [7]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [9]:
X = dfx.values
Y = dfy.values

In [10]:
print(X.shape)
print(Y.shape)

(576, 8)
(576, 1)

In [11]:
Y = Y.reshape((-1, ))

In [12]:
print(Y.shape)

(576,)

In [13]:
print(X)

[[  7.    168.     88.    ...  38.2     0.787  40.   ]
 [  8.    110.     76.    ...  27.8     0.237  58.   ]
 [  7.    147.     76.    ...  39.4     0.257  43.   ]
 ...
 [  2.    122.     60.    ...  29.8     0.717  22.   ]
 [  4.    154.     72.    ...  31.3     0.338  37.   ]
 [  1.     88.     78.    ...  32.      0.365  29.   ]]